@{
    string lang = "az";
    var url = Context.Request.Path.Value.ToString();
    if (url.Contains("/en"))
    {
        lang = "en";
    }
}
@model CreateTransactionDTO
<head>
    <link rel="stylesheet" href="~/assets/css/basketteslimat.css">
    <style>
        .couppon form {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }

        .couppon button {
            background-color: #e63946;
            color: #fff;
            font-size: 16px;
            font-weight: bold;
            border: none;
            padding: 12px 24px;
            margin-top: 10px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

            .couppon button:hover {
                background-color: #d62828;
            }

        .couppon i {
            font-size: 20px;
            color: #fff;
        }
    </style>
</head>

@if (lang == "az")
{
    <section class="shopping-basket-image">
        <div class="basket-nav">
            <div class="step active mobile-active bar">
                <div class="stepIcon">
                    <a href="#">
                        <i class="fas fa-shopping-basket" title="Alış-veriş Səbəti">
                        </i>
                    </a>
                </div>
                <div class="stepTitle">
                    <a href="#" id="shopping">
                        Alış-veriş Səbəti
                    </a>
                </div>
            </div>
            <div class="step active">
                <div class="stepIcon">
                    <a href="#">
                        <i class="fas fa-shipping-fast" title="Çatdırılma Məlumatları">
                        </i>
                    </a>
                </div>
                <div class="stepTitle">
                    <a href="#">
                        Çatdırılma Məlumatları
                    </a>
                </div>
            </div>
            <div class="step">
                <div class="stepIcon">
                    <a href="#">
                        <i class="fas fa-credit-card" title="Ödəmə Məlumatları">
                        </i>
                    </a>
                </div>
                <div class="stepTitle">
                    <a href="#">
                        Ödəmə Məlumatları
                    </a>
                </div>
            </div>
            <div class="step">
                <div class="stepIcon">
                    <a href="javascript:;">
                        <i class="far fa-check-circle" title="Sifariş Bitdi">
                        </i>
                    </a>
                </div>
                <div class="stepTitle">
                    <a href="javascript:;">
                        Sifariş Bitdi
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="sepet-all">
        <div class="sepet-left-right" style="margin-top: -180px;">
            <div class="sepet-left-delivery">
                <h3>Çatdırılma Məlumatları</h3>
                <div class="form-delivery">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <input asp-for="FullName" type="text" placeholder="Ad Soyad" readonly>
                        <input asp-for="City" type="text" placeholder="Şəhər" readonly>
                        <input asp-for="Address" type="text" placeholder="Yaşadığınız ünvan" readonly>
                        <input asp-for="Phone" type="text" placeholder="Mobil nömrə" readonly>
                        <input asp-for="Email" type="text" placeholder="Email ünvanı" readonly>
                    }
                    else
                    {
                        <input asp-for="FullName" type="text" placeholder="Ad Soyad">
                        <input asp-for="City" type="text" placeholder="Şəhər">
                        <input asp-for="Address" type="text" placeholder="Yaşadığınız ünvan">
                        <input asp-for="Phone" type="text" placeholder="Mobil nömrə">
                        <input asp-for="Email" type="text" placeholder="Email ünvanı">
                    }
                </div>
            </div>
            <div class="sepet-right">
                <div class="ozetTitle">
                    <h4>SİFARİŞ XÜLASƏSİ</h4>
                </div>
                <div class="ozetDetay">
                    <div>
                        <span>Məhsulların Qiyməti</span>
                        <p id="subtotal">@Model.ProductsPrice AZN</p>
                    </div>
                    <div>
                        <span>VAT</span>
                        <p id="vat">100,00 AZN</p>
                    </div>
                    <div>
                        <span>Transportasiya</span>
                        <p id="shipping">200,00 AZN</p>
                    </div>
                    <div>
                        <span>Ümumi Məbləğ</span>
                        <p id="grand-total">@Model.Amount AZN</p>
                    </div>
                </div>
                <div class="couppon">
                    <form id="basket-form" method="post" asp-action="Transformation" asp-controller="Basket">
                        <input type="hidden" id="hidden-fullname" name="FullName">
                        <input type="hidden" id="hidden-city" name="City">
                        <input type="hidden" id="hidden-address" name="Address">
                        <input type="hidden" id="hidden-phone" name="Phone">
                        <input type="hidden" id="hidden-email" name="Email">

                        <input type="hidden" name="Amount" id="hidden-total-price" value="@(Model.Amount)">
                        <input type="hidden" name="UserId" id="hidden-total-price" value="@Model.UserId">
                        <input type="hidden" name="Lang" id="hidden-total-price" value="@Model.Lang">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <button type="submit">Sifarişi Tamamla</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
}
else
{
    <section class="shopping-basket-image">
        <div class="basket-nav">
            <div class="step active mobile-active bar">
                <div class="stepIcon">
                    <a href="#">
                        <i class="fas fa-shopping-basket" title="Shopping Cart">
                        </i>
                    </a>
                </div>
                <div class="stepTitle">
                    <a href="#" id="shopping">
                        Shopping Cart
                    </a>
                </div>
            </div>
            <div class="step active">
                <div class="stepIcon">
                    <a href="#">
                        <i class="fas fa-shipping-fast" title="Delivery Information">
                        </i>
                    </a>
                </div>
                <div class="stepTitle">
                    <a href="#">
                        Delivery Information
                    </a>
                </div>
            </div>
            <div class="step">
                <div class="stepIcon">
                    <a href="#">
                        <i class="fas fa-credit-card" title="Payment Information">
                        </i>
                    </a>
                </div>
                <div class="stepTitle">
                    <a href="#">
                        Payment Information
                    </a>
                </div>
            </div>
            <div class="step">
                <div class="stepIcon">
                    <a href="javascript:;">
                        <i class="far fa-check-circle" title="Order Complete">
                        </i>
                    </a>
                </div>
                <div class="stepTitle">
                    <a href="javascript:;">
                        Order Complete
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="sepet-all">
        <div class="sepet-left-right" style="margin-top: -240px;">
            <div class="sepet-left-delivery">
                <h3>Delivery Information</h3>
                <form id="basket-form" method="post" asp-action="Transformation" asp-controller="Basket">
                    <div class="form-delivery">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <input asp-for="FullName" type="text" placeholder="Full name" readonly>
                            <input asp-for="City" type="text" placeholder="City" readonly>
                            <input asp-for="Address" type="text" placeholder="Address" readonly>
                            <input asp-for="Phone" type="text" placeholder="Phone number" readonly>
                            <input asp-for="Email" type="text" placeholder="Email address" readonly>
                        }
                        else
                        {
                            <input asp-for="FullName" type="text" placeholder="Full name">
                            <input asp-for="City" type="text" placeholder="City">
                            <input asp-for="Address" type="text" placeholder="Address">
                            <input asp-for="Phone" type="text" placeholder="Phone number">
                            <input asp-for="Email" type="text" placeholder="Email address">
                        }
                        <input type="hidden" name="Amount" value="@(Model.Amount)">
                        <input type="hidden" name="UserId" value="@Model.UserId">
                        <input type="hidden" name="Lang" value="@Model.Lang">
                    </div>
                    <div class="sepet-right" style="margin-top: 35px; margin-left: 60px;">
                        <div class="ozetTitle">
                            <h4>ORDER SUMMARY</h4>
                        </div>
                        <div class="ozetDetay">
                            <div>
                                <span>Products Price</span>
                                <p id="subtotal">@Model.ProductsPrice AZN</p>
                            </div>
                            <div>
                                <span>VAT</span>
                                <p id="vat">100,00 AZN</p>
                            </div>
                            <div>
                                <span>SHIPPING</span>
                                <p id="shipping">200,00 AZN</p>
                            </div>
                            <div>
                                <span>TOTAL</span>
                                <p id="grand-total">@Model.Amount AZN</p>
                            </div>
                        </div>
                        <div class="couppon">
                            <button type="submit" class="submit-btn">Complete the Order</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

}

<script>
    function fillHiddenFields() {
        document.getElementById("hidden-fullname").value = document.querySelector("input[asp-for='FullName']").value;
        document.getElementById("hidden-city").value = document.querySelector("input[asp-for='City']").value;
        document.getElementById("hidden-address").value = document.querySelector("input[asp-for='Address']").value;
        document.getElementById("hidden-phone").value = document.querySelector("input[asp-for='Phone']").value;
        document.getElementById("hidden-email").value = document.querySelector("input[asp-for='Email']").value;
    }
</script>
<script src="~/assets/js/basketteslimat.js"></script>



